/* Your styles here */

body {
    background-color: #EAEDED;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.65;
    /* padding: 0px; */
    margin: 0;
}

main {
    margin-left: 40px;
    margin-right: 40px;
}

header {
    background-color: #131921;
}

header img {
    background-color: #131921;
    width: 10%;
    padding: 0%;
    margin: 0%;
}

nav {
    background-color: #232F3E;
}

ul {

    display: inline;
    color: white;
}



.scrittarancio h2 {
    color: white;
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
}

.scrittarancio {
    background-color: orange;
    text-align: center;
    color: white;
}

.bannerverde {
    background-image: url(../images/bg-image.png);
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
    color: white;
}

.schede-container{
    background-color: white;
}

.card-container {
    display: block;
    text-align: center;
    padding-bottom: 20px;
}

.card {
    width: 24%;
    height: 50vh;
    display: inline-block;
    border-radius: 20px;
    margin: 15 15px;
    -webkit-box-shadow: 8px 10px 35px -15px #000000; 
    box-shadow: 8px 10px 35px -15px #000000;
    
}


#img1 {
    background-image: url(../images/img_1.jpg);
    background-size: cover;
    background-position: center;

}

#img2 {
    background-image: url(../images/img_2.jpg);
    background-size: cover;
    background-position: center;
}

#img3 {
    background-image: url(../images/img_3.jpg);
    background-size: cover;
    background-position: center;
}

#img4 {
    background-image: url(../images/img_4.jpg);
    background-size: cover;
    background-position: center;
}

main a {
    display: inline-block;
}


.schedone img {
    width: 100%;
    padding-top: 40px;
}



footer{
        background-color: #131921;
       text-align: center;
}

.ancora {
    background-color: #364759;
    
}

footer a {
    color: white;
}

.schedone img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.schedone p, a {
    text-align: center;
}


span {
	color: #256d9c;
	margin-left: 1em;
	font-size: 0.8em;
    font-weight: bold;
}